:root {
  --main-bcg-color: #ffffff;
  --hero-footer-bcg: #2f303a;
  --team-bcg-color: #f5f4fa;
  --main-color: #212121;
  --secondary-color: #757575;
  --focus-color: #12addd;
  --black-color: #000000;
  --white-color: #ffffff;
  --address-color: rgba(255, 255, 255, 0.6);
  --icons-color: #afb1b8;
  --overlay-portfolio: rgba(33, 150, 243, 0.9);
  --bcg-advantage: rgba(33, 150, 243, 0.1);
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

body {
  background-color: var(--main-bcg-color);
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.section {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (max-width: 767.98px) {
  .section {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .section {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    max-width: 1600px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 767.98px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.hero__title {
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #f5f4fa;
}
@media screen and (max-width: 1199.98px) {
  .hero__title {
    max-width: 360px;
    font-size: 26px;
    line-height: 1.61;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 44px;
    line-height: 1.36;
  }
}

.section-title {
  line-height: 1.17;
  text-align: center;
}
@media screen and (max-width: 1199.98px) {
  .section-title {
    margin-bottom: 30px;
    font-size: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}
@media screen and (max-width: 1199.98px) {
  .modal__title {
    width: 100%;
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.header {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    max-width: 1600px;
  }
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 767.98px) {
  .header-container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .header-container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .header-container {
    width: 1200px;
  }
}

@media screen and (max-width: 767.98px) {
  .header__nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 30px;
  }
}

@media screen and (max-width: 767.98px) {
  .header-address {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}

@media screen and (max-width: 767.98px) {
  .header__list {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-color);
  -webkit-transition: color var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function);
}
.header__link:hover, .header__link:focus {
  color: var(--focus-color);
}

.header-address__link {
  color: var(--secondary-color);
}

.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--hero-footer-bcg);
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  }
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  gap: 40px;
  margin-right: 20px;
}

.about__item {
  width: 500px;
}

.about__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.17;
}

.advantage__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.advantage__item {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
}

.advantage__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  height: 160px;
  background: var(--bcg-advantage);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.advantage__text {
  font-size: 16px;
  text-align: center;
}

.advantage__icons {
  fill: var(--focus-color);
}/*# sourceMappingURL=main.css.map */