:root {
  --main-bcg-color: #ffffff;
  --hero-footer-bcg: #2f303a;
  --team-bcg-color: #f5f4fa;
  --main-color: #212121;
  --secondary-color: #757575;
  --focus-color: #12addd;
  --black-color: #000000;
  --white-color: #ffffff;
  --address-color: rgba(255, 255, 255, 0.6);
  --icons-color: #afb1b8;
  --overlay-portfolio: rgba(33, 150, 243, 0.9);
  --bcg-advantage: rgba(33, 150, 243, 0.1);
  --footer-color: #dddddd;
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --main-font: "Mulish", sans-serif;
  --secondary-font: "Lobster", cursive;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-bcg-color);
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.section {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
@media screen and (max-width: 767.98px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.hero__title {
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #f5f4fa;
}
@media screen and (max-width: 1199.98px) {
  .hero__title {
    max-width: 360px;
    font-size: 26px;
    line-height: 1.61;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 44px;
    line-height: 1.36;
  }
}

.section-title {
  line-height: 1.17;
  text-align: center;
}
@media screen and (max-width: 1199.98px) {
  .section-title {
    margin-bottom: 30px;
    font-size: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}
@media screen and (max-width: 1199.98px) {
  .modal__title {
    width: 100%;
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(148, 148, 148, 0.3);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  z-index: 999;
}
.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--secondary-font);
  text-decoration: none;
  color: var(--main-color);
  font-size: 32px;
  letter-spacing: 0.06em;
}

.logo__icon {
  color: black;
}

.logo p {
  margin-left: 0.3em;
}

.logo__text-color {
  color: var(--overlay-portfolio);
}

@media screen and (max-width: 767.98px) {
  .header__nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 30px;
  }
}

@media screen and (max-width: 767.98px) {
  .header-address {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767.98px) {
  .header__list {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-size: 0.95rem;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-color);
  -webkit-transition: color var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function);
}
.header__link:hover, .header__link:focus {
  color: var(--focus-color);
}

.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100vh;
  background-color: var(--hero-footer-bcg);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.7))), url(../images/background.webp);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url(../images/background.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  padding-bottom: 0.4rem;
  font-family: var(--secondary-font);
  font-size: 4.55rem;
  letter-spacing: 0.2em;
  color: var(--white-color);
}

.hero__title-color {
  color: var(--overlay-portfolio);
}

.hero__text {
  font-size: 2.55rem;
  letter-spacing: 0.1em;
  color: var(--white-color);
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__image {
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  gap: 40px;
  margin-right: 20px;
}

.about__item {
  width: 500px;
}

.about__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.17;
}

.advantage {
  background-color: var(--hero-footer-bcg);
  background-color: #bfc9cd;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(35%, #bfcdcc), color-stop(65%, #c3cbd6));
  background-image: linear-gradient(0deg, #bfcdcc 35%, #c3cbd6 65%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.advantage__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantage__item {
  -ms-flex-preferred-size: calc((100% - 90px) / 3);
      flex-basis: calc((100% - 90px) / 3);
}

.advantage__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  height: 220px;
  background: var(--bcg-advantage);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.advantage__subtitle {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.advantage__text {
  font-size: 18px;
  text-align: center;
}

.advantage__icons {
  fill: var(--focus-color);
}

.services {
  background-color: var(--team-bcg-color);
}

.services img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 500px;
  height: 330px;
}

.services__wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.services__text {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(36, 64, 116, 0.6);
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 330px;
}

.swiper-slide img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
@media screen and (max-width: 767.98px) {
  .team__list:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .team__list:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list:not(:last-child) {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 767.98px) {
  .team__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 334px;
  }
}
@media screen and (min-width: 768px) {
  .team__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767.98px) {
  .team__card-list {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team__card-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team__card-item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__card-item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}

@media screen and (max-width: 767.98px) {
  .team__card-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team__card-link {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow var(--duration) var(--timing-function);
  transition: -webkit-box-shadow var(--duration) var(--timing-function);
  transition: box-shadow var(--duration) var(--timing-function);
  transition: box-shadow var(--duration) var(--timing-function), -webkit-box-shadow var(--duration) var(--timing-function);
}
.team__card-link:hover, .team__card-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.team__card-link:hover .team__overlay, .team__card-link:focus .team__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team__card-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

.team__wrapper {
  position: relative;
  overflow: hidden;
}

.team__overlay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(195, 203, 214, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transition: -webkit-transform var(--duration) var(--timing-function);
  transition: -webkit-transform var(--duration) var(--timing-function);
  transition: transform var(--duration) var(--timing-function);
  transition: transform var(--duration) var(--timing-function), -webkit-transform var(--duration) var(--timing-function);
}

.team__overlay-description {
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color);
}

.team__card-description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team__card-description {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.team__card-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.team__card-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-color);
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
}

.social-networks__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icons-color);
  background-color: rgba(33, 150, 243, 0.6);
  color: var(--white-color);
  -webkit-transition: scale var(--duration) var(--timing-function);
  transition: scale var(--duration) var(--timing-function);
}
.social-networks__link:hover, .social-networks__link:focus {
  scale: 1.2;
}

.social-networks__icons {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 15px;
  background-color: var(--hero-footer-bcg);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.8))), url(../images/background-2.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(../images/background-2.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__title {
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  font-style: normal;
  color: var(--footer-color);
}

.footer__item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__link {
  padding: 5px 0;
  font-size: 16px;
  font-style: normal;
  line-height: 1.14;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--footer-color);
  -webkit-transition: color var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function);
}

.footer__link:hover,
.footer__link:focus {
  color: var(--focus-color);
}

.footer__rights {
  padding: 30px 0 0 15px;
}

.footer__rights-text {
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  color: var(--footer-color);
}/*# sourceMappingURL=main.css.map */