.advantage__list {
  display: flex;
  gap: 30px;
}

.advantage__item {
  flex-basis: calc((100% - 90px) / 4);
}

.advantage__wraper {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
  height: 160px;
  background: var(--bcg-advantage);

  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
}

.advantage__text {
  font-size: 16px;
  text-align: center;
}

.advantage__icons {
  fill: var(--focus-color);
}
