.advantage {
  background-color: var(--hero-footer-bcg);
  background-color: #bfc9cd;
  background-image: linear-gradient(0deg, #bfcdcc 35%, #c3cbd6 65%);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.advantage__list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.advantage__item {
  flex-basis: calc((100% - 90px) / 3);
}

.advantage__wraper {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
  height: 220px;
  background: var(--bcg-advantage);

  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
}

.advantage__subtitle {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.advantage__text {
  font-size: 18px;
  // text-align: center;
}

.advantage__icons {
  fill: var(--focus-color);
}
