.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background: rgba(148, 148, 148, 0.3);
  backdrop-filter: blur(15px);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  z-index: 999;

  // transition: transform 1s var(--timing-function);

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
  }

  @media screen and (min-width: 1200px) {
  }
}

// .header.hide {
//   transform: translateY(-100%);
// }

.header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  // @media screen and (max-width: 767.98px) {
  //   max-width: 480px;
  // }

  // @media screen and (min-width: 768px) {
  //   width: 768px;
  // }

  // @media screen and (min-width: 1200px) {
  //   width: 1200px;
  // }
}

.logo {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: var(--secondary-font);
  text-decoration: none;
  color: var(--main-color);
  font-size: 32px;
  letter-spacing: 0.06em;
}

.logo.scale {
  animation: scalePaddingToZero var(--duration) var(--timing-function) forwards;
}

.logo.scale-default {
  animation: scalePaddingToDefault var(--duration) var(--timing-function)
    forwards;
}

@keyframes scalePaddingToZero {
  from {
    padding: 20px 0;
  }
  to {
    padding: 0;
  }
}

@keyframes scalePaddingToDefault {
  from {
    padding: 0;
  }
  to {
    padding: 20px 0;
  }
}

.logo__icon {
  color: black;
}

.logo p {
  margin-left: 0.3em;
}

.logo__text-color {
  color: var(--overlay-portfolio);
}

.header__nav {
  @media screen and (max-width: 767.98px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 30px;
  }
}

.header-address {
  @media screen and (max-width: 767.98px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 30px;
    // margin-left: auto;
  }
}

.header__list {
  @media screen and (max-width: 767.98px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    display: flex;
    gap: 30px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 30px;
  }
}

.header__item {
  display: flex;
}

.header__link {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

  text-transform: uppercase;
  font-size: 0.95rem;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-color);

  transition: color var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--focus-color);
  }
}

// .header-address__link {
//   text-transform: none;
//   color: var(--secondary-color);
// }
