.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;

  display: flex;
  align-items: center;
  text-align: center;
  height: 100vh;

  background-color: var(--hero-footer-bcg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),
    url(../images/background.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  // @media screen and (max-width: 767.98px) {
  //   max-width: 480px;

  //   background-image: linear-gradient(
  //       rgba(47, 48, 58, 0.4),
  //       rgba(47, 48, 58, 0.4)
  //     ),
  //     url(../images/hero/hero_sm@1x.jpg);

  //   @media (min-device-pixel-ratio: 2),
  //     (min-resolution: 192dpi),
  //     (min-resolution: 2dppx) {
  //     background-image: linear-gradient(
  //         rgba(47, 48, 58, 0.4),
  //         rgba(47, 48, 58, 0.4)
  //       ),
  //       url(../images/hero/hero_sm@2x.jpg);
  //   }
  // }

  // @media screen and (min-width: 768px) {
  //   max-width: 768px;

  //   background-image: linear-gradient(
  //       rgba(47, 48, 58, 0.4),
  //       rgba(47, 48, 58, 0.4)
  //     ),
  //     url(../images/hero/hero_md@1x.jpg);

  //   @media (min-device-pixel-ratio: 2),
  //     (min-resolution: 192dpi),
  //     (min-resolution: 2dppx) {
  //     background-image: linear-gradient(
  //         rgba(47, 48, 58, 0.4),
  //         rgba(47, 48, 58, 0.4)
  //       ),
  //       url(../images/hero/hero_md@2x.jpg);
  //   }
  // }

  @media screen and (min-width: 1200px) {
    // max-width: 1600px;

    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  padding-bottom: 0.4rem;

  font-family: var(--secondary-font);
  font-size: 4.55rem;
  letter-spacing: 0.2em;
  color: var(--white-color);
}

.hero__title-color {
  color: var(--overlay-portfolio);
}

.hero__text {
  font-size: 2.55rem;
  letter-spacing: 0.1em;
  color: var(--white-color);
}
