.social-networks {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
}

.social-networks__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icons-color);
  background-color: rgba(33, 150, 243, 0.6);
  color: var(--white-color);

  transition: scale var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    scale: 1.2;
  }
}

.social-networks__icons {
  fill: currentColor;
}
